<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Direct download from kapynotes.com. Signed with the Developer ID
	     Application cert, then notarised and stapled by release.sh. -->
	<key>method</key>
	<string>developer-id</string>
	<key>teamID</key>
	<string>96V66447C6</string>
	<key>signingStyle</key>
	<string>automatic</string>
</dict>
</plist>
